@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fadeInLeft {
    animation: fadeInLeft 1s ease forwards;
  }
  
  .fadeInRight {
    animation: fadeInRight 1s ease forwards;
  }

img{
  height:200px;
}